apiVersion: v1
kind: Service
metadata:
  name: consul-server
  namespace: digital-bank-poc
  labels:
    app: consul
    component: server
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8500
    targetPort: 8500
    protocol: TCP
  - name: dns
    port: 8600
    targetPort: 8600
    protocol: UDP
  - name: serf-lan
    port: 8301
    targetPort: 8301
    protocol: TCP
  - name: serf-wan
    port: 8302
    targetPort: 8302
    protocol: TCP
  - name: server
    port: 8300
    targetPort: 8300
    protocol: TCP
  selector:
    app: consul
    component: server
