apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: digital-bank-poc
  labels:
    app: nginx
    component: reverse-proxy
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  - name: https
    port: 443
    targetPort: 443
    protocol: TCP
  selector:
    app: nginx
    component: reverse-proxy
