apiVersion: v1
kind: Service
metadata:
  name: kong
  namespace: digital-bank-poc
  labels:
    app: kong
    component: gateway
spec:
  type: LoadBalancer
  ports:
  - name: proxy
    port: 8000
    targetPort: 8000
    protocol: TCP
  - name: proxy-ssl
    port: 8443
    targetPort: 8443
    protocol: TCP
  - name: admin
    port: 8001
    targetPort: 8001
    protocol: TCP
  - name: admin-ssl
    port: 8444
    targetPort: 8444
    protocol: TCP
  selector:
    app: kong
    component: gateway
