apiVersion: v1
kind: Service
metadata:
  name: core-bank-service
  labels:
    app: core-bank-service
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  selector:
    app: core-bank-service
