apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-provisioning
  labels:
    app: grafana
data:
  datasource.yaml: |-
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus:9090
        isDefault: true

  dashboard.yaml: |-
    apiVersion: 1
    providers:
      - name: digital-bank
        orgId: 1
        folder: Digital Bank
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards
